*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    background: red;
}
.text{
    padding-top: 20px;
    padding-right: 15px;
}
.text h1{
    color: white;
	font-size: 47px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #000000;
}
.header img{
    height: 90px;
    width: 90px;
}
.article{
    position: relative;
    text-align: center;
}
.article .center{
    border: 3px solid red;
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 500px;
}
.article .center .createacc{
    padding: 50px;
}
.input{
    padding: 10px;
    border-style: none;
    background: red;
    border-radius: 20px;
    color: white;
}
::-webkit-input-placeholder{
    color: rgb(250, 150, 150);
}

.radio{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
#submit{
    border-style: none;
    background: red;
    padding: 10px;
    border-radius: 20px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
#submit:hover{
    background: yellowgreen;
    color: white;
}
.logins{
    position: absolute;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background: red;
    left: 10px;
    bottom: 1px;
    transition: 0.3s;
}
.logins:hover{
    background: yellowgreen;
    color: white;
}